@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="alert alert-success navbar-fixed-top" id="success-alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Success!</strong>  Скріпт було успішно відправлено на обробку.
</div>

<div id="launchModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="launchScriptTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
               

                <div class="form-group">
                    <label for="formatSelect">Оберіть формат файлу для зберігання</label>
                    <select class="form-control" id="formatSelect">
                        <option>CSV</option>
                        <option>XML</option>
                        <option>XLSX</option>
                    </select>
                </div>

                <div id="scriptParams">

                </div>
                <input type="text" hidden id="scriptPath" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="callLaunch()">Запустити</button>
                <button type="button" class="btn btn-warning" onclick="openSource()">Вихідний код</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Закрити</button>
            </div>
        </div>

    </div>
</div>

<div id = "fileTree"></div>
