<div class="panel panel-primary" style="position: fixed; bottom: 15px; right: 15px; width: 20vw; height: 40vh; margin-bottom: 0px;">
    <div class="panel-heading" style="height: 4vh;">
        Результати ваших скриптів:
    </div>
    <div class="panel-body" style="padding: 0px;">
        <table class="table table-striped">
            <thead>
            <tr align="center">
                <td style="width:45%">
                    Назва скрипту
                </td>
                <td style="width:15%">
                    Формат
                </td>
                <td style="width:40%">
                    Статус
                </td>
            </tr>
            </thead>
            <tbody id="partBody" style="word-wrap:break-word;">
            </tbody>
        </table>
    </div>
</div>

