@inject Microsoft.AspNetCore.Authentication.IAuthenticationSchemeProvider SchemeProvider

@model SQLWorker.Web.Models.Request.RegisterModel
@{
    ViewData["Title"] = "Sign Up";
}

@if (!ViewData.ModelState.IsValid)
{
    <div asp-validation-summary="All" class="alert alert-danger"></div>
}

<form class="form" method="post" novalidate>
    <h2 class="form-heading text-center">Форма реєстрації</h2>
    <label for="inputName" class="sr-only">Ім'я</label>
    <input type="text" asp-for="Name" id="inputName" class="form-control first" placeholder="Введіть ваше ім'я" required autofocus style="margin-bottom: 10px;"/>
    <label for="inputEmail" class="sr-only">E-mail адреса</label>
    <input type="email" asp-for="Email" id="inputEmail" class="form-control" placeholder="Введіть вашу e-mail адресу" required style="margin-bottom: 10px;"/>
    <label for="inputPassword" class="sr-only">Пароль</label>
    <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Пароль" required style="margin-bottom: 10px;"/>
    <label for="inputRepeatPassword" class="sr-only">Повторне введення</label>
    <input type="password" asp-for="RepeatPassword" id="inputRepeatPassword" class="form-control last" placeholder="Повторіть ваш пароль" required style="margin-bottom: 10px;"/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Зареєструватись</button>
</form>

<hr />